extends _layout.pug

block variables
  -
    var title = 'Бетон от производителя с доставкой по Московской области'
    var description = 'Предлагаем купить бетон в Москве и МО. Купите бетон с доставкой – привезем материалы на объект своим транспортом точно в срок. Минимальный заказ – 1 кубометр. Бетон от производителя БетонТрансСтрой с гарантией качества. Скидки от объема'
    var index = true

block content
  include components/intro.pug
  include components/benefits.pug
  include components/catalog.pug
  include components/cta.pug
  include components/scheme.pug
  include components/about.pug
  include components/partners.pug
  include components/cta2.pug
