<table>
	<tbody>
		<tr>
			<td rowspan="3"><strong>Класс продукции</strong></td>
			<td rowspan="3"><strong>Марка продукции</strong></td>
			<td rowspan="3"><strong>Вес т/куб.м</strong></td>
			<td colspan="4"><strong>Цена за 1 куб.м</strong> (цена на самовывоз)</td>
		</tr>
		<tr>
			<td colspan="2"><strong>Гравийный щебень</strong></td>
			<td colspan="2"><strong>Гранитный щебень</strong></td>
		</tr>
		<tr>
			<td><strong>П3</strong></td>
			<td><strong>П4</strong></td>
			<td><strong>П3</strong></td>
			<td><strong>П4</strong></td>
		</tr>
		<tr>
			<td>БСГ В 7.5 F 50 W 2</td>
			<td>М100</td>
			<td>2.29</td>
			<td>4 560 руб.</td>
			<td>4 610 руб.</td>
			<td>5 760 руб.</td>
			<td>5 810 руб.</td>
		</tr>
	</tbody>
</table>
