footer.footer
	.footer__top
		.container
			.footer__top-inner
				.footer__part
					a.footer__link(href="#") Политика конфиденциальности
				.footer__part.footer__part_2
					.social
						p.social__header Присоединяйтесь к нам в соцсетях:
						.social-items.flex.jcc
							a.social__item(href="#")
								img.social__image(src="../img/vk.svg", alt="")
							a.social__item(href="#")
								img.social__image(src="../img/telegram.svg", alt="")
				.footer__part.footer__part_3
					p.footer__address #[span Московская область, Истринский район, деревня Синево, зд. 50]
					a.footer__phone(href="tel:+" + clearPhone(header.phone)) !{header.phone}
					p.footer__whours ежедневно: 8:00 - 21:00
					a.footer__email(href="mailto:betontransstroy@yandex.ru") betontransstroy@yandex.ru
	.footer__bottom
		.container
			.footer__bottom-inner.flex.jcsb.aic
				p © 2022 ООО «БетонТрансСтрой»
				p Разработано: #[a(href='https://1ps.ru/' target='_blank') 1PS.RU]
